.flex-box-conteiner{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	margin-top: 20px;
}

.flex-box-element{
	box-sizing: border-box;
	background: #1a1a1a;
	border: 1px solid grey;
	margin: 25px 8px;
	padding: 5px 10px 20px 15px;
	color: white;
}

.flex-box-element #podr{
	background: blue;
	color: white;
	margin: 5px 3px;
	padding: 5px 8px;
	border: 1px solid blue;
	text-decoration: none;
	width: 100%;
}


.flex-box-conteiner .header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.right{
	float: right;
	text-decoration: none;
	color: white;
}

.footer img{
	width: 10%;
	float: left;
	margin-right: 7px;
}

.left{
	float: left;

}

.p1{
	margin-left: 10px; 
}

.f4{
	text-decoration: none;
	color: white;
	background: black;
	padding: 5px 10px; 
}

#userPanel{
	margin: 40px 10px;
}

.f4:hover{
	transition: all 0.6s ease;
	background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1d1d1+0,ffffff+35,fefefe+70,d1d1d1+100 
	background: rgb(209,209,209); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(255,255,255,1) 35%, rgba(254,254,254,1) 70%, rgba(209,209,209,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(209,209,209,1) 0%,rgba(255,255,255,1) 35%,rgba(254,254,254,1) 70%,rgba(209,209,209,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(209,209,209,1) 0%,rgba(255,255,255,1) 35%,rgba(254,254,254,1) 70%,rgba(209,209,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
	color: black;
}

h1{
	color: black;
}

h2{
	margin-left: 10px; 
}